<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PuntryProgram.Properties.Settings.PuntryDBConnectionString"
            connectionString="Data Source=DESKTOP-A4B68L9\SQLEXPRESS;Initial Catalog=PuntryDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PuntryProgram.Properties.Settings.PuntryDBAzureConnection"
            connectionString="Data Source=bittbn.database.windows.net;Initial Catalog=PuntryDB;User ID=bittbn;Password=gohimprost5W"
            providerName="System.Data.SqlClient" />
        <add name="PuntryProgram.Properties.Settings.PuntryDBVivtConnection"
            connectionString="Data Source=192.168.3.8;Initial Catalog=PuntryDB;User ID=Biryukovv;Password=gohimprost5W"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>